@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0 102 255;
    --color-secondary: 245 184 0;
    --color-accent: 0 194 168;
    --color-dark: 13 13 13;
    --color-background: 249 250 251;
  }

  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-background text-dark;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
